@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";
@import "normalize.css";
@import "nav-ui.css";
@import "dashboard-ui.css";



/* ================================== COMMON ===================================== */

@import url("https://fonts.googleapis.com/css?family=Kanit:200,400,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen overflow-x-hidden;
  background: linear-gradient(to bottom, #090909 0%, #010101 100%);
  font-family: "Kanit", sans-serif;
}

.logo {
  @apply block w-56 bg-left-top bg-no-repeat;
  background-image : url(../img/tpklazza-logo.svg);
  text-indent: -9999px;
}

a {
  @apply text-gray-500 no-underline;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  @apply text-white;
}

h1 {
  @apply text-white font-normal text-4xl;
}

h2 {
  @apply text-white font-normal text-3xl m-0 mb-5 ml-12;
}

h3 {
  @apply text-white font-normal text-2xl m-0 my-1;
}
^ h4 {
  @apply text-white font-normal text-lg;
}

footer {
  height: 500px;
}

.error-message {
  @apply hidden text-orange-500 mb-4;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.error .error-message {
  display: block;
}

@tailwind components;

.close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  width: 40px;
  line-height: 40px;
  right: 40px;
  top: 30px;
  text-indent: -9999px;
  background: url(../img/close.svg);
  background-size: cover;
  z-index: 10;
}

.login-page:before {
  @apply block w-full h-full absolute top-0 left-0 bg-black opacity-50;
  content: "";
  z-index: -1;
}

#mainError {
  @apply absolute bg-black rounded-sm p-10;
  top: -500px;
  right: 40px;
  width: 320px;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#mainError .close {
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
}

#mainError h3 {
  background: url(../img/warning.svg) center left no-repeat;
  padding-left: 40px;
}

#mainError p {
  color: white;
  line-height: 1.4rem;
}

#mainError.triggered {
  top: 30px;
  animation-name: errorBlink;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes errorBlink {
  0% {
    background-color: black;
  }

  25% {
    background-color: rgb(157, 0, 0);
  }

  100% {
    background-color: black;
  }
}

nav {
  @apply flex items-center px-12 py-4 fixed top-0 w-screen;
  box-sizing: border-box;
  z-index: 200;
  background: rgba(1, 1, 1, 0);
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

nav.scrolled:before {
  @apply hidden;
}

nav.scrolled {
  background: rgba(1, 1, 1, 1);
  z-index: 9999;
}

nav.scrolled.gr:before {
  @apply hidden;
}

.main-menu {
  @apply flex justify-between list-none p-0 ml-8;
}

.main-menu a {
  @apply text-white my-auto mx-2;
}

.main-menu a:hover {
  @apply text-gray-400;
}

.search {
  @apply ml-auto flex items-center overflow-hidden h-10;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search:before {
  @apply block cursor-pointer bg-cover bg-top bg-left bg-no-repeat w-8 h-8;
  content: "";
  background-image: url(../img/search.svg);
}

.search label {
  @apply hidden;
}

.search form {
  max-width: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search form input {
  @apply border-none bg-transparent text-white outline-none font-thin;
}

.searchOpen {
  @apply bg-black pr-2 border border-solid border-white;
}

.searchOpen form {
  max-width: 200px;
}

.profile-menu {
  @apply list-none p-0 relative cursor-pointer ml-5;
}

.avatar {
  @apply block text-white text-center m-auto cursor-pointer bg-blue-400 w-10;
  line-height: 40px;
  border-radius: 50%;
}

.profile-menu .sub-menu {
  @apply flex flex-col list-none absolute pt-6 m-0 right-0 opacity-0;

  transform: scaleY(0);
  transform-origin: top;
  top: 30px;
  transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.profile-menu .sub-menu:before {
  @apply block absolute;
  content: "";
  top: 15px;
  right: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}

.profile-menu .sub-menu li a {
  @apply bg-black block m-0 py-4 px-2;
  width: 130px;
}

.profile-menu:hover .sub-menu {
  @apply opacity-100;
  transform: scaleY(1);
}

nav.gr:before {
  @apply block absolute top-0 left-0 w-full;
  content: "";
  background: linear-gradient(to bottom, #141414 0%, rgba(20, 20, 20, 0) 100%);
  opacity: 0.65;
  height: 13vw;
  z-index: -1;
}

/* =================================== PROJECTOR ======================================== */

.video-container {
  display: none;
}

.silk-transition {
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* =================================== SEARCH RESULTS ======================================== */
.filters{
  color:white;
  width:93.75%;
  margin: auto;
  padding-top:60px;
  display:flex;

}
.suggestionsLabel{
  color: #a9a9a9;
  width:17%;
}
.filters ul{
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
}
.filters ul li{
  padding:0 5px 5px 5px;
  margin-right:7px;
  border-right:1px solid rgb(99, 99, 99);
}
.filters ul li a{
  font-weight:200;
}
