@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";


/* ================================== COMMON ===================================== */

@import url("https://fonts.googleapis.com/css?family=Kanit:200,400,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen overflow-x-hidden;
  background: linear-gradient(to bottom, #090909 0%, #010101 100%);
  font-family: "Kanit", sans-serif;
}

.logo {
  @apply block w-56 bg-left-top bg-no-repeat;
  background-image : url(../img/tpklazza-logo.svg);
  text-indent: -9999px;
}

a {
  @apply text-gray-500 no-underline;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  @apply text-white;
}

h1 {
  @apply text-white font-normal text-4xl;
}

h2 {
  @apply text-white font-normal text-3xl m-0 mb-5 ml-12;
}

h3 {
  @apply text-white font-normal text-2xl m-0 my-1;
}
^ h4 {
  @apply text-white font-normal text-lg;
}

footer {
  height: 500px;
}

.error-message {
  @apply hidden text-orange-500 mb-4;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.error .error-message {
  display: block;
}

@tailwind components;

.close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  width: 40px;
  line-height: 40px;
  right: 40px;
  top: 30px;
  text-indent: -9999px;
  background: url(../img/close.svg);
  background-size: cover;
  z-index: 10;
}

.login-page:before {
  @apply block w-full h-full absolute top-0 left-0 bg-black opacity-50;
  content: "";
  z-index: -1;
}

#mainError {
  @apply absolute bg-black rounded-sm p-10;
  top: -500px;
  right: 40px;
  width: 320px;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#mainError .close {
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
}

#mainError h3 {
  background: url(../img/warning.svg) center left no-repeat;
  padding-left: 40px;
}

#mainError p {
  color: white;
  line-height: 1.4rem;
}

#mainError.triggered {
  top: 30px;
  animation-name: errorBlink;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes errorBlink {
  0% {
    background-color: black;
  }

  25% {
    background-color: rgb(157, 0, 0);
  }

  100% {
    background-color: black;
  }
}

nav {
  @apply flex items-center px-12 py-4 fixed top-0 w-screen;
  box-sizing: border-box;
  z-index: 200;
  background: rgba(1, 1, 1, 0);
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

nav.scrolled:before {
  @apply hidden;
}

nav.scrolled {
  background: rgba(1, 1, 1, 1);
  z-index: 9999;
}

nav.scrolled.gr:before {
  @apply hidden;
}

.main-menu {
  @apply flex justify-between list-none p-0 ml-8;
}

.main-menu a {
  @apply text-white my-auto mx-2;
}

.main-menu a:hover {
  @apply text-gray-400;
}

.search {
  @apply ml-auto flex items-center overflow-hidden h-10;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search:before {
  @apply block cursor-pointer bg-cover bg-top bg-left bg-no-repeat w-8 h-8;
  content: "";
  background-image: url(../img/search.svg);
}

.search label {
  @apply hidden;
}

.search form {
  max-width: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search form input {
  @apply border-none bg-transparent text-white outline-none font-thin;
}

.searchOpen {
  @apply bg-black pr-2 border border-solid border-white;
}

.searchOpen form {
  max-width: 200px;
}

.profile-menu {
  @apply list-none p-0 relative cursor-pointer ml-5;
}

.avatar {
  @apply block text-white text-center m-auto cursor-pointer bg-blue-400 w-10;
  line-height: 40px;
  border-radius: 50%;
}

.profile-menu .sub-menu {
  @apply flex flex-col list-none absolute pt-6 m-0 right-0 opacity-0;

  transform: scaleY(0);
  transform-origin: top;
  top: 30px;
  transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.profile-menu .sub-menu:before {
  @apply block absolute;
  content: "";
  top: 15px;
  right: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}

.profile-menu .sub-menu li a {
  @apply bg-black block m-0 py-4 px-2;
  width: 130px;
}

.profile-menu:hover .sub-menu {
  @apply opacity-100;
  transform: scaleY(1);
}

nav.gr:before {
  @apply block absolute top-0 left-0 w-full;
  content: "";
  background: linear-gradient(to bottom, #141414 0%, rgba(20, 20, 20, 0) 100%);
  opacity: 0.65;
  height: 13vw;
  z-index: -1;
}

/* =================================== DASHBOARD ======================================== */

#hero {
  height: 85vh;
  max-height: 800px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 15%
  );
}

#hero .title-image {
  z-index: -1;
  object-fit: cover;
  object-position: top left;
  height: 85vh;
  max-height: 800px;
}

.info-wrapper {
  min-width: 600px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 68%,
    rgba(0, 0, 0, 0) 97%
  );
}

.info-wrapper span{
  letter-spacing: 5px;
}
.rating {
  border: solid 1px rgba(255, 255, 255, 0.4);
  padding: 1px 4px;
}

.watch {
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.watch:before {
  @apply text-sm mr-2;
  content: "►";
}

.watch:hover {
  transform: scale(1.03);
}

.like,
.unlike {
  text-indent: -9999px;
  margin: 0 2px;
  border-radius: 50%;
  background: url(../img/like.svg) center 3px no-repeat;
  background-size: 70%;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.unlike {
  transform: rotateX(180deg);
}

/* =================================== SLIDER ======================================== */
.hero-content {
  margin-top: -5vw;
}

.slider {
  margin: 3vw 0 0 0;
}

.slider-frame {
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slider-container {
  padding: 0 3vw;
}

.slider-item {
  @apply relative m-0 left-0 border-2 border-black cursor-pointer;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  box-sizing: border-box;
  z-index: 10;
}

.slider-item.active {
  @apply border-2 border-white;
}

.slider-item.active:after {
  @apply block absolute;
  content: "";
  bottom: -10px;
  right: calc(50% - 10px);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
}

.slider-item img {
  @apply w-full h-full;
}

.slider-item:hover {
  z-index: 300;
}

.item-infos {
  @apply absolute bottom-0 left-0 w-full opacity-0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 1.5vw 10px 0 10px;
  box-sizing: border-box;
}

.slider-item:hover .item-infos {
  @apply opacity-100;
}

.item-infos .watch {
  width: 2vw;
  padding: 0.2vw 1vw;
}

.item-infos .watch:after {
  font-size: 1vw;
}

.item-infos .watch span {
  @apply hidden;
}

.item-infos .seasons-info {
  @apply m-0;
}

.item-infos .seasons-info p {
  @apply m-0 mb-2;
}

.deploy {
  @apply p-5 block;
  text-indent: -9999px;
  background: url(../img/down-chevron.svg) center center no-repeat;
  background-size: 2vw;
}

.deploy:hover {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.infos-wrapper {
  @apply relative overflow-hidden w-screen z-0;
  max-height: 0;
}

.close {
  @apply inline-block cursor-pointer absolute w-10;
  line-height: 40px;
  right: 40px;
  top: 30px;
  text-indent: -9999px;
  background: url(../img/close.svg);
  background-size: cover;
  z-index: 10;
}

.info-container {
  @apply w-screen overflow-hidden absolute top-0 opacity-0;
  transition: all 0.5s ease-in-out;
  height: 85vh;
  max-height: 740px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 15%
  );
}

.infos-wrapper.shown {
  height: 85vh;
  max-height: 740px;
}

.info-container.shown {
  @apply opacity-100;
}

.info-container .title-image {
  @apply absolute top-0 right-0 w-4/5;
  z-index: -1;
  object-fit: cover;
  object-position: top left;
  height: 85vh;
  max-height: 800px;
}

@media screen and (max-width: 799px) and (min-width: 500px) {
  .slider-item {
    min-width: 180px;
    max-width: 33.333333%;
  }

  .item-infos .title {
    margin: 1.2vw 0 0.5vw 0;
    font-size: 9px;
  }
  .item-infos .seasons-info {
    font-size: 8px;
    justify-content: flex-start;
  }
  .deploy {
    padding: 0;
  }
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .slider-item {
    min-width: 25%;
    max-width: 25%;
  }

  .item-infos .title {
    margin: 1vw 0 0.5vw 0;
    font-size: 1vw;
  }
  .item-infos .seasons-info {
    font-size: 1vw;
    justify-content: flex-start;
  }
  .deploy {
    padding: 0 0 1.5vw 0;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1100px) {
  .slider-item {
    min-width: 20%;
    max-width: 20%;
  }

  .item-infos .title {
    margin: 15px 0 5px 0;
    font-size: 10px;
  }
  .item-infos .seasons-info {
    font-size: 10px;
    justify-content: flex-start;
  }
  .deploy {
    padding: 0 0 20px 0;
  }
}

@media screen and (min-width: 1400px) {
  .slider-item {
    min-width: 16.66666667%;
    max-width: 16.66666667%;
  }
  .item-infos {
    padding-bottom: 15px;
  }
  .item-infos .title {
    margin: 10px 0 0 0;
    font-size: 11px;
  }
  .item-infos .seasons-info {
    font-size: 11px;
  }
  .deploy {
    padding: 12px 0 0 0;
  }
}

/* =================================== PROJECTOR ======================================== */

.video-container {
  display: none;
}

@tailwind utilities;

.silk-transition {
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


/* =================================== SEARCH RESULTS ======================================== */
.filters{
  color:white;
  width:93.75%;
  margin: auto;
  padding-top:60px;
  display:flex;

}
.suggestionsLabel{
  color: #a9a9a9;
  width:17%;
}
.filters ul{
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
}
.filters ul li{
  padding:0 5px 5px 5px;
  margin-right:7px;
  border-right:1px solid rgb(99, 99, 99);
}
.filters ul li a{
  font-weight:200;
}

/* ==================================== LOGING ========================================= */

.login-page {
  background: url(../img/background-app.jpg) top left no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page:before {
  display: block;
  content: "";
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

#loginform {
  width: 460px;
  background: #090909;
  border-radius: 2px;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#loginform .logo {
  margin-bottom: 30px;
  min-height: 35px;
  width: 100%;
}

.field p {
  background: #292929;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 7px 12px 9px;
  margin: 15px 0;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
form label {
  color: #a9a9a9;
  cursor: pointer;
  margin-bottom:5px;
}

.field input,.field textarea  {
  background: none;
  border: none;
  outline: none;
  color: white;
  line-height: 1.5rem;
  font-size: 16px;
}

.error p {
  margin-bottom: 5px;
  border-bottom: 2px solid #da8747;
}

.error-message {
  display: none;
  color: #da8747;
  margin: 0 0 15px 0;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.error .error-message {
  display: block;
}

.submit {
  border: none;
  background: #17C8FF;
  color: white;
  display: inline-block;
  width: 100%;
  border-radius: 2px;
  line-height: 50px;
  cursor: pointer;
  outline: none;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  font-size: 18px;
  text-align: center;
}

.submit:hover {
  background: white;
  color: #17C8FF;
}

#loginform aside {
  display: flex;
  justify-content: space-between;
}

@media (max-width:400px) {
  #loginform aside {
      flex-direction: column;
  }
}

#loginform .checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  margin-left: 7px;
}


/* =================================== DASHBOARD ======================================== */
/* =================================== ITEM FORM ======================================== */
.form-container{
  padding-top:80px;
  width:90%;
  margin:auto;
}
.form-container form{
  display: flex;
  justify-content:space-between;
}
.form-container section{
  border:none;
  width:45%;    
  display:flex;
  flex-direction: column;
  
  
}
.form-container section p:last-child{
  margin-top:auto;
  
}

#mainError{
  position:absolute;
  background:black;
  top:-500px;
  right:40px;
  border-radius:3px;
  z-index:500;
  padding:40px;
  width:320px;
  transition: .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#mainError .close{
  width:30px;
  height:30px;
  right:10px;
  top:10px;
}
#mainError h3{
  background:url(../img/warning.svg) center left no-repeat;
  padding-left:40px;
}
#mainError p{
  color:white;
  line-height:1.4rem;
}
#mainError.triggered{
  top:30px;
  animation-name: errorBlink;
animation-duration: 1s;
animation-delay: .5s;
animation-timing-function: ease-in-out;
}
@keyframes errorBlink {
  0% {background-color: black;}
  25% {background-color: rgb(157, 0, 0);}
  100% {background-color: black;}
}