<div class="overflow-hidden">
  <div class="overflow-hidden relative" style="padding-top: 56.25%;">
    <iframe src="https://www.imdb.com/videoembed/vi1114421529" allowfullscreen
      class="border-0 h-full left-0 absolute top-0 w-full"></iframe>
  </div>
  <div id="mainError">
    <span class="close">Close</span>
    <h3>Error</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum dolorum, libero quae, repellat, qui
      quibusdam fuga hic blanditiis id rerum. Odit velit magnam consectetur distinctio ut ullam eius odio!</p>
  </div>
</div>