<div class="overflow-hidden">
  <div class="overflow-hidden relative h-screen max-h-screen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Rw6BrzB1drs" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      class="border-0 h-full left-0 absolute top-0 right-0 bottom-0 w-full max-h-screen"></iframe>
  </div>
  <div id="mainError">
    <span class="close">Close</span>
    <h3>Error</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum dolorum, libero quae, repellat, qui
      quibusdam fuga hic blanditiis id rerum. Odit velit magnam consectetur distinctio ut ullam eius odio!</p>
  </div>
</div>