<nav id="mainNav" class="gr">
  <a href="#" class="logo">
    Triptyklazza
  </a>
  <ul class="main-menu">
    <li>
      <a href="#">
        Home
      </a>
    </li>
    <li>
      <a href="#">
        Tv Shows
      </a>
    </li>
    <li>
      <a href="#">
        Movies
      </a>
    </li>
  </ul>
  <div class="search" id="searchBlock">
    <form>
      <p>
        <label for="search">
          Search
        </label>
        <input type="search" id="search" name="search" placeholder="Titles, people, genres" />
      </p>
    </form>
  </div>
  <ul class="profile-menu">
    <li>
      <p class="avatar">
        BG
      </p>
      <ul class="sub-menu">
        <li>
          <a href="">
            Manage profile
          </a>
        </li>
        <li>
          <a href="form-new-item.html">
            Add Video
          </a>
        </li>
        <li>
          <a href="index.html">
            Sign Out
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div id="hero">
  <div class="info-wrapper">
    <div class="category">
      <img src="img/t-logo.svg" alt="Triptyklazza" />
      <span>
        Series
      </span>
    </div>
    <div class="title-logo">
      <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" />
    </div>
    <div class="seasons-info">
      <p class="year">
        2017
      </p>
      <p class="rating">
        16+
      </p>
      <p class="duration">
        3 Seasons
      </p>
    </div>
    <div class="synopsis">
      Brilliant but boozy scientist Rick hijacks his fretful teenage grandson, Morty, for
            wild escapades in other worlds and alternate dimensions.
    </div>
    <div class="buttons-layer">
      <a href="series/rickandmorty.html" class="watch">
        Watch now
      </a>
      <div class="likes">
        <a href="" class="like">
          Like
        </a>
        <a href="" class="unlike">
          Don't like
        </a>
      </div>
    </div>
  </div>
  <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image" />
</div>
<div class="hero-content">
  <div class="slider s1" id="tvshows">
    <h2>
      Tv Shows
    </h2>
    <div class="slider-frame">
      <div class="slider-container">
        <div class="slider-item" data-info="rickandmorty-infos">
          <img src="img/series/rickandmorty-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/rickandmorty.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Rick And Morty
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="happy-infos">
          <img src="img/series/happy-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/happy.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Happy
            </h4>
            <div class="seasons-info">
              <p class="year">
                2019
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="disenchantment-infos">
          <img src="img/series/disenchantment-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/disenchantment.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Disenchantment
            </h4>
            <div class="seasons-info">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="papel-infos">
          <img src="img/series/papel-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/papel.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Money Heist
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="b99-infos">
          <img src="img/series/b99-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/b99.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Brookly Nine Nine
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                5 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="lucifer-infos">
          <img src="img/series/lucifer-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/lucifer.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Lucifer
            </h4>
            <div class="seasons-info">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                4 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="dark-infos">
          <img src="img/series/dark-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/dark.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Dark
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="infos-wrapper">
      <span class="close">
        Close
      </span>
      <div class="info-container" id="rickandmorty-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2017
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Seasons
            </p>
          </div>
          <div class="synopsis">
            Brilliant but boozy scientist Rick hijacks his fretful teenage grandson,
                        Morty, for
                        wild escapades in other worlds and alternate dimensions.
          </div>
          <div class="buttons-layer">
            <a href="series/rickandmorty.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image" />
      </div>
      <div class="info-container" id="happy-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/happy-logo.png" alt="Happy" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            Hailey and Nick spend a father-daughter day together, but a gambling side
                        trip and a quick gig to "deliver a package" complicate their relationship.
          </div>
          <div class="buttons-layer">
            <a href="series/happy.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/happy-hero.jpg" alt="Happy" class="title-image" />
      </div>
      <div class="info-container" id="disenchantment-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/disenchantment-logo.png" alt="Disenchantment" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            Princess Bean already has the wedding day blues when a mysterious figure
                        arrives, claiming he's her personal demon. Elfo hates his happy homeland.
          </div>
          <div class="buttons-layer">
            <a href="series/disenchantment.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/disenchantment-hero.jpg" alt="Disenchantment" class="title-image" />
      </div>
      <div class="info-container" id="papel-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/papel-logo.png" alt="la casa de Papel" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Parts
            </p>
          </div>
          <div class="synopsis">
            Eight thieves take hostages and lock themselves in the Royal Mint of Spain
                        as a criminal mastermind manipulates the police to carry out his plan.
          </div>
          <div class="buttons-layer">
            <a href="series/papel.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/papel-hero.jpg" alt="Money Heist" class="title-image" />
      </div>
      <div class="info-container" id="b99-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/b99-logo.png" alt="Brooklyn 99" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              5 Seasons
            </p>
          </div>
          <div class="synopsis">
            Jake jumps into action when Terry's wife goes into labor at the precinct.
                        Meanwhile, an Internet outage forces the team to go old-school.
          </div>
          <div class="buttons-layer">
            <a href="series/b99.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/b99-hero.jpg" alt="Brooklyn 99" class="title-image" />
      </div>
      <div class="info-container" id="lucifer-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/lucifer-logo.png" alt="Lucifer" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
          </div>
          <div class="buttons-layer">
            <a href="" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/lucifer-hero.jpg" alt="Happy" class="title-image" />
      </div>
      <div class="info-container" id="dark-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/dark-logo.png" alt="Happy" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            It's 1986, and Ulrich's brother, Mads, has been missing for a month.
                        Confusion reigns as past and present intertwine.
          </div>
          <div class="buttons-layer">
            <a href="series/dark.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/dark-hero.jpg" alt="Dark" class="title-image" />
      </div>
    </div>
  </div>
  {{!end slider 1}}
  <div class="slider s2" id="blockbusters">
    <h2>
      Blockbusters
    </h2>
    <div class="slider-frame">
      <div class="slider-container">
        <div class="slider-item" data-info="swlj-infos">
          <img src="img/movies/swlj-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/swlj.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Star Wars: Episode VIII: The Last Jedi
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                2h 31m
              </p>
            </div>
            <a href="#blockbusters" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="happy-infos">
          <img src="img/series/happy-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/happy.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Happy
            </h4>
            <div class="seasons-info">
              <p class="year">
                2019
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="disenchantment-infos">
          <img src="img/series/disenchantment-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/disenchantment.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Disenchantment
            </h4>
            <div class="seasons-info">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="papel-infos">
          <img src="img/series/papel-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/papel.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Money Heist
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="b99-infos">
          <img src="img/series/b99-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/b99.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Brookly Nine Nine
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                5 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="lucifer-infos">
          <img src="img/series/lucifer-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/lucifer.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Lucifer
            </h4>
            <div class="seasons-info">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                4 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="dark-infos">
          <img src="img/series/dark-thumb.jpg" alt="" />
          <div class="item-infos">
            <a href="series/dark.html" class="watch">
              <span>
                Watch Now
              </span>
            </a>
            <h4 class="title">
              Dark
            </h4>
            <div class="seasons-info">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy">
              Info
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="infos-wrapper">
      <div class="info-container" id="swlj-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2017
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Seasons
            </p>
          </div>
          <div class="synopsis">
            Brilliant but boozy scientist Rick hijacks his fretful teenage grandson,
                        Morty, for
                        wild escapades in other worlds and alternate dimensions.
          </div>
          <div class="buttons-layer">
            <a href="series/rickandmorty.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image" />
      </div>
      <div class="info-container" id="happy-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/happy-logo.png" alt="Happy" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            Hailey and Nick spend a father-daughter day together, but a gambling side
                        trip and a quick gig to "deliver a package" complicate their relationship.
          </div>
          <div class="buttons-layer">
            <a href="series/happy.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/happy-hero.jpg" alt="Happy" class="title-image" />
      </div>
      <div class="info-container" id="disenchantment-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/disenchantment-logo.png" alt="Disenchantment" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            Princess Bean already has the wedding day blues when a mysterious figure
                        arrives, claiming he's her personal demon. Elfo hates his happy homeland.
          </div>
          <div class="buttons-layer">
            <a href="series/disenchantment.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/disenchantment-hero.jpg" alt="Disenchantment" class="title-image" />
      </div>
      <div class="info-container" id="papel-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/papel-logo.png" alt="la casa de Papel" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Parts
            </p>
          </div>
          <div class="synopsis">
            Eight thieves take hostages and lock themselves in the Royal Mint of Spain
                        as a criminal mastermind manipulates the police to carry out his plan.
          </div>
          <div class="buttons-layer">
            <a href="series/papel.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/papel-hero.jpg" alt="Money Heist" class="title-image" />
      </div>
      <div class="info-container" id="b99-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/b99-logo.png" alt="Brooklyn 99" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              5 Seasons
            </p>
          </div>
          <div class="synopsis">
            Jake jumps into action when Terry's wife goes into labor at the precinct.
                        Meanwhile, an Internet outage forces the team to go old-school.
          </div>
          <div class="buttons-layer">
            <a href="series/b99.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/b99-hero.jpg" alt="Brooklyn 99" class="title-image" />
      </div>
      <div class="info-container" id="lucifer-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/lucifer-logo.png" alt="Lucifer" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
          </div>
          <div class="buttons-layer">
            <a href="" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/lucifer-hero.jpg" alt="Happy" class="title-image" />
      </div>
      <div class="info-container" id="dark-infos">
        <div class="info-wrapper">
          <div class="category">
            <img src="img/t-logo.svg" alt="Triptyklazza" />
            <span>
              Series
            </span>
          </div>
          <div class="title-logo">
            <img src="img/series/dark-logo.png" alt="Happy" />
          </div>
          <div class="seasons-info">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="synopsis">
            It's 1986, and Ulrich's brother, Mads, has been missing for a month.
                        Confusion reigns as past and present intertwine.
          </div>
          <div class="buttons-layer">
            <a href="series/dark.html" class="watch">
              Watch now
            </a>
            <div class="likes">
              <a href="" class="like">
                Like
              </a>
              <a href="" class="unlike">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/dark-hero.jpg" alt="Dark" class="title-image" />
      </div>
    </div>
  </div>
  {{!end slider 1}}
</div>
<footer></footer>
<div id="mainError">
  <span class="close">
    Close
  </span>
  <h3>
    Error
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum dolorum, libero quae, repellat, qui
        quibusdam fuga hic blanditiis id rerum. Odit velit magnam consectetur distinctio ut ullam eius odio!
  </p>
</div>