<div class="h-screen flex flex-col">
  <nav id="mainNav" class="gr">
    <LinkTo @route="application" class="logo">
      Triptyklazza
    </LinkTo>
    <ul class="main-menu">
      <li>
        <LinkTo @route="application">
          Home
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="form-new-item">
          Tv Shows
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="form-new-item">
          Movies
        </LinkTo>
      </li>
    </ul>
    <div class="search" id="searchBlock">
      <form>
        <p>
          <label for="search">
            Search
          </label>
          <input type="search" id="search" name="search" placeholder="Titles, people, genres" />
        </p>
      </form>
    </div>
    <ul class="profile-menu">
      <li>
        <p class="avatar">
          BG
        </p>
        <ul class="sub-menu">
          <li>
            <LinkTo @route="application">
              Manage profile
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="form-new-item">
              Add Video
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="login">
              Sign out
            </LinkTo>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="h-screen">
    {{outlet}}
  </div>
</div>