<div class="form-container pt-20 w-11/12 m-auto">
  <h1>Create new entry</h1>
  <form action="" class="flex justify-between">
    <section class="border-0 flex flex-col w-5/12">



      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="title">Title</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="text" id="title"
          name="title" placeholder="Enter here the title of the video">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="year">Year</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="text" id="year" name="year"
          placeholder="Release year">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="pgrating">PG Rating</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="text" id="pgrating"
          name="pgrating" placeholder="Ex: 16+">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="duration">Duration</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="text" id="duration"
          name="duration" placeholder="Ex: 3 Seasons  or 1h 34min">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="synopsis">Synopsis</label>
        <textarea name="synopsis" id="synopsis" cols="30" rows="10"
          class="bg-transparent outline-none text-white leading-normal text-base"></textarea>
      </p>
      <span class="error-message">Erreur machin</span>

    </section>

    <section class="border-0 flex flex-col w-5/12">

      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="category">Category</label>
        <select name="category" id="category" class="bg-gray-800 text-white focus:outline-none">
          <option value="Movie">Movie</option>
          <option value="Series">Series</option>
          <option value="Documentary">Documentary</option>
        </select>
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="genre">Genre</label>
        <select name="genre" id="genre" class="bg-gray-800 text-white focus:outline-none">
          <option value="1365">Action & Adventure</option>
          <option value="7424">Anime</option>
          <option value="3652">Biographical Documentaries</option>
          <option value="783">Children & Family Movies</option>
          <option value="31574">Classic Movies</option>
          <option value="6548">Comedies</option>
          <option value="9875">Crime</option>
          <option value="7627">Cult </option>
          <option value="5763">Dramas</option>
          <option value="7462">Foreign Movies</option>
          <option value="5349">Historical</option>
          <option value="8711">Horror Movies</option>
          <option value="7077">Independent</option>
          <option value="90361">Music</option>
          <option value="26835">Religious & Spirituality</option>
          <option value="8883">Romantic</option>
          <option value="1492">Sci-Fi & Fantasy</option>
          <option value="4370">Sports</option>
          <option value="8933">Thrillers</option>

        </select>
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="url">Vidéo Link</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="url" id="url" name="url"
          placeholder="ex: https://www.imdb.com/title/tt7713068/videoplayer/vi1837416217">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="logo">Logo</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="file" id="logo"
          name="logo">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="thumbnail">Thumbnail</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="file" id="thumbnail"
          name="thumbnail">
      </p>
      <span class="error-message">Erreur machin</span>


      <p class="flex flex-col bg-gray-800 rounded-sm cursor-pointer py-2 px-3 my-4 ">
        <label class="text-gray-300 cursor-pointer mb-2" for="largeimage">Image</label>
        <input class="bg-transparent outline-none text-white leading-normal text-base" type="file" id="largeimage"
          name="largeimage">
      </p>
      <span class="error-message">Erreur machin</span>

      <p class="my-4">
        <LinkTo @route="application"
          class="bg-blue-500 hover:bg-white text-white hover:text-blue-500 rounded-sm  border-none w-full inline-block text-center cursor-pointer outline-none text-lg"
          style="line-height:50px;">
          Submit
        </LinkTo>
      </p>

    </section>
  </form>
</div>