<div id="hero" class="overflow-hidden">
  <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
    <div class="w-24 flex items-center justify-between">
      <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
      <span class="uppercase text-gray-700 text-sm">
        Series
      </span>
    </div>
    <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
      <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" class="w-full" />
    </div>
    <div class="text-white flex font-thin justify-between items-center text-sm w-32">
      <p class="year">
        2017
      </p>
      <p class="rating">
        16+
      </p>
      <p class="duration">
        3 Seasons
      </p>
    </div>
    <div class="text-gray-600 font-thin text-lg mx-0 my-4">
      Brilliant but boozy scientist Rick hijacks his fretful teenage grandson, Morty, for
            wild escapades in other worlds and alternate dimensions.
    </div>
    <div class="flex justify-between">
      <LinkTo @route="series.rickandmorty" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2 py-2">
        Watch now
      </LinkTo>
      <div class="flex justify-between">
        <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
          Like
        </a>
        <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
          Don't like
        </a>
      </div>
    </div>
  </div>
  <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image absolute top-0 right-0 w-4/5" />
</div>
<div class="hero-content pb-32">
  <SliderMovie 
    @section="Tv Shows"
    @sliderId="1"
    @anchor="tvshows"
  />
  {{!end slider 1}}
  <SliderMovie 
    @section="Blockbusters"
    @sliderId="2"
    @anchor="blockbusters"
  />
  {{!end slider 1}}
</div>